* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #0f469a;
  color: white;
}
header .container {
  width: calc(100% - 100px);
  margin: auto;
  padding: 20px 0;
}

header .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#startBtn {
  background-color: white;
  color: #0f469a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#startBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#main-content {
  flex: 1;
}

#questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 45%;
  min-height: 200px;
  max-height: 400px;
}

.question #question-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 100%;
}

.question img {
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 16px 0px rgba(255, 0, 0, 0.25);
  border-radius: 50%;
  padding: 5px;
}

.question #bottons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.solved {
  border: 2px solid #28a745;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}
.unsolved {
  border: 2px solid #dc3545;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}


.editBtn {
  border: 2px solid #007bff;
  background-color: #cce5ff;
  color: #004085;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}

.enterBtn {
  border: 2px solid #6610f2;
  background-color: #e0cffc;
  color: #21005d;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}

.answer-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

#controlBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

#controlBtn button {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#submitBtn {
  background: linear-gradient(135deg, #4caf50, #2e7d32);
  color: white;
}

#submitBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#resetBtn {
  background: linear-gradient(135deg, #f44336, #c62828);
  color: white;
}

#resetBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dialog {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
  margin: 150px auto;
}

.dialog h2 {
  margin-bottom: 20px;
  color: #333;
}

.score {
  font-size: 20px;
  margin-bottom: 15px;
  color: #555;
}

.status.success {
  color: #2ecc71;
  font-weight: bold;
}

.status.fail {
  color: #e74c3c;
  font-weight: bold;
}

/* .question input {
  width: 100%;
  max-width: 300px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
} */

.button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #2980b9;
}

footer {
  background-color: #f1f5fa;
  padding: 20px 0;
  color: black;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

footer .container {
  width: calc(100% - 100px);
  margin: auto;
}

